{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Zikirillayev and Strange">
    <meta name="description"
        content="This is a simple english testing web app created by Robocode IT Acaedemy developers " />
    <title>Test your English</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    {% block content %}
    {% endblock %}
</body>
{% block script %} {% endblock %}
</html>