{% extends 'base/base.html'%} {% block content %}
<!-- cart mini area start -->
<div class="cartmini__area">
  <div class="cartmini__wrapper">
    <div class="cartmini__title">
      <h4>Shopping cart</h4>
    </div>
    <div class="cartmini__close">
      <button type="button" class="cartmini__close-btn">
        <i class="fal fa-times"></i>
      </button>
    </div>
    <div class="cartmini__widget">
      <div class="cartmini__inner">
        <ul>
          <li>
            <div class="cartmini__thumb">
              <a href="/static/product-details.html">
                <img src="/static/assets/img/product/sm/cart-5.jpg" alt="" />
              </a>
            </div>
            <div class="cartmini__content">
              <h5>
                <a href="/static/product-details.html"
                  >Findup - Directory & Listing</a
                >
              </h5>
              <div class="product-quantity mt-10 mb-10">
                <span class="cart-minus">-</span>
                <input class="cart-input" type="text" value="1" />
                <span class="cart-plus">+</span>
              </div>
              <div class="product__sm-price-wrapper">
                <span>2 <i class="fal fa-times"></i></span>
                <span class="product__sm-price">$24.00</span>
              </div>
            </div>
            <a href="/static/#" class="cartmini__del"
              ><i class="fal fa-times"></i
            ></a>
          </li>
          <li>
            <div class="cartmini__thumb">
              <a href="/static/product-details.html">
                <img src="/static/assets/img/product/sm/cart-2.jpg" alt="" />
              </a>
            </div>
            <div class="cartmini__content">
              <h5>
                <a href="/static/product-details.html"
                  >TechBuzz - Businesses Agency</a
                >
              </h5>
              <div class="product-quantity mt-10 mb-10">
                <span class="cart-minus">-</span>
                <input class="cart-input" type="text" value="1" />
                <span class="cart-plus">+</span>
              </div>
              <div class="product__sm-price-wrapper">
                <span>1 <i class="fal fa-times"></i></span>
                <span class="product__sm-price">$17.00</span>
              </div>
            </div>
            <a href="/static/#" class="cartmini__del"
              ><i class="fal fa-times"></i
            ></a>
          </li>
          <li>
            <div class="cartmini__thumb">
              <a href="/static/product-details.html">
                <img src="/static/assets/img/product/sm/cart-3.jpg" alt="" />
              </a>
            </div>
            <div class="cartmini__content">
              <h5>
                <a href="/static/product-details.html"
                  >Zibber - Agency Template</a
                >
              </h5>
              <div class="product-quantity mt-10 mb-10">
                <span class="cart-minus">-</span>
                <input class="cart-input" type="text" value="1" />
                <span class="cart-plus">+</span>
              </div>
              <div class="product__sm-price-wrapper">
                <span>5 <i class="fal fa-times"></i></span>
                <span class="product__sm-price">$72.00</span>
              </div>
            </div>
            <a href="/static/#" class="cartmini__del"
              ><i class="fal fa-times"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="cartmini__checkout">
        <div class="cartmini__checkout-title mb-30">
          <h4>Subtotal:</h4>
          <span>$113.00</span>
        </div>
        <div class="cartmini__checkout-btn">
          <a href="/static/cart.html" class="m-btn m-btn-border mb-10 w-100">
            <span></span> view cart</a
          >
          <a href="/static/checkout.html" class="m-btn m-btn-3 w-100">
            <span></span> checkout</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="body-overlay"></div>
<!-- cart mini area end -->

<!-- sidebar area start -->
<div class="sidebar__area">
  <div class="sidebar__wrapper">
    <div class="sidebar__close">
      <button class="sidebar__close-btn" id="sidebar__close-btn">
        <span><i class="fal fa-times"></i></span>
        <span>close</span>
      </button>
    </div>
    <div class="sidebar__content">
      <div class="logo mb-40">
        <a href="/static/index.html">
          <img src="/static/assets/img/logo/logo-white.png" alt="logo" />
        </a>
      </div>
      <div class="mobile-menu"></div>
      <div class="sidebar__action mt-330">
        <div class="sidebar__login mt-15">
          <a href="/static/#"><i class="far fa-unlock"></i> Log In</a>
        </div>
        <div class="sidebar__cart mt-20">
          <a href="/static/javascript:void(0);" class="cart-toggle-btn">
            <i class="far fa-shopping-cart"></i>
            <span>2</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- sidebar area end -->
<div class="body-overlay"></div>
<!-- sidebar area end -->

<main>
  <!-- bg shape area start -->
  <div class="bg-shape">
    <img src="/static/assets/img/shape/shape-1.png" alt="" />
  </div>
  <!-- bg shape area end -->

  <!-- page title area -->
  <section class="page__title-area pt-85">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div class="page__title-content mb-50">
            <h2 class="page__title">Latest From The Blog</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/static/index.html">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Blog</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page title end -->

  <!-- postbox area start -->
  <section class="postbox__area pb-120">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-8 col-lg-8">
          <div class="postbox__wrapper">
            {% for blog in blogs|slice:':1' %}
            <article
              class="postbox__item format-image fix mb-50 wow fadeInUp"
              data-wow-delay=".9s"
            >
              <div class="postbox__thumb">
                <a href="/static/blog-details.html" class="w-img">
                  <img src="{{ blog.image.url }}" alt="" />
                </a>
              </div>
              <div class="postbox__content">
                <div class="postbox__meta d-flex mb-10">
                  <div class="postbox__tag mr-20">
                    {% for hashtag in blog.hash_tag.all %}

                    <a href="/static/#">{{ hashtag.hash_name }}</a>

                    {% endfor %}
                  </div>
                  <div class="postbox__date">
                    <span
                      ><i class="fal fa-clock"></i> {{ blog.updated_at }}
                    </span>
                  </div>
                </div>
                <h3 class="postbox__title mb-15">
                  <a href="/static/blog-details.html">{{ blog.title }}</a>
                </h3>
                <div class="postbox__text mb-20">
                  <p>{{ blog.description|truncatewords:"15" }}</p>
                </div>
                <div class="postbox__author d-flex align-items-center">
                  <div class="postbox__author-thumb mr-15">
                    <img src="{{ blog.author.user_image.url }}" alt="" />
                  </div>
                  <h5>Post by <a href="/static/#">{{ blog.author }}</a></h5>
                </div>
              </div>
            </article>
            {% endfor %}
            <div class="postbox__quote mb-50 wow fadeInUp" data-wow-delay=".7s">
              <blockquote>
                <h3>
                  What a plonker say william mush bite your arm off brown bread
                  chinwag he legged it the bee's knees lost the plot loo
                  gutted.!
                </h3>
                <span>Eleanor Fant</span>
              </blockquote>
            </div>
            {% for blog in blogs %}
            <article
              class="postbox__item format-image fix mb-50 wow fadeInUp"
              data-wow-delay=".9s"
            >
              <div class="postbox__thumb">
                <a href="/static/blog-details.html" class="w-img">
                  <img src="{{ blog.image.url }}" alt="" />
                </a>
              </div>
              <div class="postbox__content">
                <div class="postbox__meta d-flex mb-10">
                  <div class="postbox__tag mr-20">
                    {% for hashtag in blog.hash_tag.all %}

                    <a href="/static/#">{{ hashtag.hash_name }}</a>

                    {% endfor %}
                  </div>
                  <div class="postbox__date">
                    <span
                      ><i class="fal fa-clock"></i> {{ blog.updated_at }}
                    </span>
                  </div>
                </div>
                <h3 class="postbox__title mb-15">
                  <a href="/static/blog-details.html">{{ blog.title }}</a>
                </h3>
                <div class="postbox__text mb-20">
                  <p>{{ blog.description|truncatewords:"15" }}</p>
                </div>
                <div class="postbox__author d-flex align-items-center">
                  <div class="postbox__author-thumb mr-15">
                    <img src="{{ blog.author.user_image.url }}" alt="" />
                  </div>
                  <h5>Post by <a href="/static/#">{{ blog.author }}</a></h5>
                </div>
              </div>
            </article>
            {% endfor %}
            <div
              class="basic-pagination wow fadeInUp text-center"
              data-wow-delay=".2s"
            >
              <ul>
                <li>
                  <a href="/static/blog.html">
                    <i class="arrow_left"></i>
                  </a>
                </li>
                <li>
                  <a href="/static/blog.html">
                    <span>1</span>
                  </a>
                </li>
                <li class="active">
                  <a href="/static/#">
                    <span>2</span>
                  </a>
                </li>
                <li>
                  <a href="/static/blog.html">
                    <span>3</span>
                  </a>
                </li>
                <li>
                  <a href="/static/blog.html">
                    <i class="fal fa-ellipsis-h"></i>
                  </a>
                </li>
                <li>
                  <a href="/static/blog.html">
                    <span>30</span>
                  </a>
                </li>
                <li>
                  <a href="/static/#">
                    <i class="arrow_right"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4">
          <div class="blog__sidebar-wrapper ml-30">
            <div class="blog__sidebar mb-30">
              <div class="sidebar__widget mb-30">
                <div class="sidebar__widget-content">
                  <div class="sidebar__search-wrapper">
                    <form action="#">
                      <input type="text" placeholder="Search ..." />
                      <button type="submit">
                        <i class="fal fa-search"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="sidebar__widget mb-30">
                <div class="sidebar__widget-title">
                  <h3>Recent Blogs</h3>
                </div>
                <div class="sidebar__widget-content">
                  <div class="rc__post-wrapper">
                    {% for blog in blogs %}
                    <div class="rc__post d-flex align-items-center">
                      <div class="rc__thumb mr-15">
                        <a href="/static/blog-details.html"
                          ><img
                            src="{{ blog.post_little_img.url }}"
                            alt="post image" width='50px'
                        /></a>
                      </div>
                      <div class="rc__content">
                        <div class="rc__meta">
                          <span>{{ blog.updated_at }}</span>
                        </div>
                        <h6 class="rc__title">
                          <a href="/static/blog-details.html"
                            >{{ blog.title }}</a
                          >
                        </h6>
                      </div>
                    </div>
                    {%  endfor %}
                  </div>
                </div>
              </div>
              <div class="sidebar__widget mb-30">
                <div class="sidebar__widget-title">
                  <h3>Categories</h3>
                </div>
                <div class="sidebar__widget-content">
                  <div class="sidebar__catagory">
                    <ul>
                      <li><a href="/static/blog.html">Web Design (6)</a></li>
                      <li>
                        <a href="/static/blog.html"> Web Development (14)</a>
                      </li>
                      <li><a href="/static/blog.html">Graphics (12)</a></li>
                      <li>
                        <a href="/static/blog.html">IOS/Android Design (10)</a>
                      </li>
                      <li><a href="/static/blog.html">App & Saas (4)</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="sidebar__widget">
                <div class="sidebar__widget-title">
                  <h3>Popular Tags</h3>
                </div>
                <div class="sidebar__widget-content">
                  <div class="tags">
                    <a href="/static/#">Business</a>
                    <a href="/static/#">Landing</a>
                    <a href="/static/#">Design</a>
                    <a href="/static/#">Digital</a>
                    <a href="/static/#">Technology</a>
                    <a href="/static/#">UI/UX</a>
                    <a href="/static/#">Features</a>
                    <a href="/static/#">Pix Saas Blog</a>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="sidebar__banner"
              data-background="assets/img/banner/sidebar-banner.jpg"
            >
              <h4 class="sidebar__banner-title">
                Check Out <br />Our free Templates
              </h4>
              <a href="/static/product.html" class="m-btn m-btn-white">
                <span></span> free template</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- postbox area end -->
</main>

{% endblock %}
