{% extends 'base/base.html' %}
   
   {% block content %}
      <!-- cart mini area start -->
      <div class="cartmini__area">
         <div class="cartmini__wrapper">
            <div class="cartmini__title">
               <h4>Shopping cart</h4>
            </div>
            <div class="cartmini__close">
               <button type="button" class="cartmini__close-btn"><i class="fal fa-times"></i></button>
            </div>
            <div class="cartmini__widget">
               <div class="cartmini__inner">
                  <ul>
                     <li>
                        <div class="cartmini__thumb">
                           <a href="/static/product-details.html">
                           <img src="/static/assets/img/product/sm/cart-5.jpg" alt="">
                           </a>
                        </div>
                        <div class="cartmini__content">
                           <h5><a href="/static/product-details.html">Findup - Directory & Listing</a></h5>
                           <div class="product-quantity mt-10 mb-10">
                              <span class="cart-minus">-</span>
                              <input class="cart-input" type="text" value="1"/>
                              <span class="cart-plus">+</span>
                           </div>
                           <div class="product__sm-price-wrapper">
                              <span>2 <i class="fal fa-times"></i></span>
                              <span class="product__sm-price">$24.00</span>
                           </div>
                        </div>
                        <a href="/static/#" class="cartmini__del"><i class="fal fa-times"></i></a>
                     </li>
                     <li>
                        <div class="cartmini__thumb">
                           <a href="/static/product-details.html">
                           <img src="/static/assets/img/product/sm/cart-2.jpg" alt="">
                           </a>
                        </div>
                        <div class="cartmini__content">
                           <h5><a href="/static/product-details.html">TechBuzz - Businesses Agency</a></h5>
                           <div class="product-quantity mt-10 mb-10">
                              <span class="cart-minus">-</span>
                              <input class="cart-input" type="text" value="1"/>
                              <span class="cart-plus">+</span>
                           </div>
                           <div class="product__sm-price-wrapper">
                              <span>1 <i class="fal fa-times"></i></span>
                              <span class="product__sm-price">$17.00</span>
                           </div>
                        </div>
                        <a href="/static/#" class="cartmini__del"><i class="fal fa-times"></i></a>
                     </li>
                     <li>
                        <div class="cartmini__thumb">
                           <a href="/static/product-details.html">
                           <img src="/static/assets/img/product/sm/cart-3.jpg" alt="">
                           </a>
                        </div>
                        <div class="cartmini__content">
                           <h5><a href="/static/product-details.html">Zibber - Agency Template</a></h5>
                           <div class="product-quantity mt-10 mb-10">
                              <span class="cart-minus">-</span>
                              <input class="cart-input" type="text" value="1"/>
                              <span class="cart-plus">+</span>
                           </div>
                           <div class="product__sm-price-wrapper">
                              <span>5 <i class="fal fa-times"></i></span>
                              <span class="product__sm-price">$72.00</span>
                           </div>
                        </div>
                        <a href="/static/#" class="cartmini__del"><i class="fal fa-times"></i></a>
                     </li>
                  </ul>
               </div>
               <div class="cartmini__checkout">
                  <div class="cartmini__checkout-title mb-30">
                     <h4>Subtotal:</h4>
                     <span>$113.00</span>
                  </div>
                  <div class="cartmini__checkout-btn">
                     <a href="/static/cart.html" class="m-btn m-btn-border mb-10 w-100"> <span></span> view cart</a>
                     <a href="/static/checkout.html" class="m-btn m-btn-3 w-100"> <span></span> checkout</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="body-overlay"></div>
      <!-- cart mini area end -->


      <!-- sidebar area start -->
      <div class="sidebar__area">
         <div class="sidebar__wrapper">
            <div class="sidebar__close">
               <button class="sidebar__close-btn" id="sidebar__close-btn">
               <span><i class="fal fa-times"></i></span>
               <span>close</span>
               </button>
            </div>
            <div class="sidebar__content">
               <div class="logo mb-40">
                  <a href="/static/index.html">
                  <img src="/static/assets/img/logo/logo-white.png" alt="logo">
                  </a>
               </div>
               <div class="mobile-menu"></div>
               <div class="sidebar__action mt-330">
                  <div class="sidebar__login mt-15">
                     <a href="/static/#"><i class="far fa-unlock"></i> Log In</a>
                  </div>
                  <div class="sidebar__cart mt-20">
                     <a href="/static/javascript:void(0);" class="cart-toggle-btn">
                        <i class="far fa-shopping-cart"></i>
                        <span>2</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- sidebar area end -->      
      <div class="body-overlay"></div>
      <!-- sidebar area end -->

      <main>

         <!-- bg shape area start -->
         <div class="bg-shape">
            <img src="/static/assets/img/shape/shape-1.png" alt="">
         </div>
         <!-- bg shape area end -->

         <!-- contact area start -->
         <section class="contact__area pt-105 pb-145">
            <div class="contact__shape">
               <img class="man-1" src="/static/assets/img/icon/sign/man-1.png" alt="">
               <img class="circle" src="/static/assets/img/icon/sign/circle.png" alt="">
               <img class="zigzag" src="/static/assets/img/icon/sign/zigzag.png" alt="">
               <img class="dot" src="/static/assets/img/icon/sign/dot.png" alt="">
               <img class="bg" src="/static/assets/img/icon/sign/sign-up.png" alt="">
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-xxl-12">
                     <div class="page__title-wrapper mb-55">
                        <h2 class="page__title-2">Leave Us a Message.</h2>
                        <p>Jolly good bevvy butty it's all gone to pot that quaint so I said cheers.</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xxl-7 col-xl-7">
                     <div class="contact__wrapper  white-bg">
                        <div class="contact__form">
                           <form action="#">
                              <div class="row">
                                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact__input-wrapper mb-25">
                                       <h5>Full Name</h5>
                                       <div class="contact__input">
                                          <input type="text" placeholder="Full name">
                                          <i class="fal fa-user"></i>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact__input-wrapper mb-25">
                                       <h5>Work email</h5>
                                       <div class="contact__input">
                                          <input type="text" placeholder="e-mail address">
                                          <i class="fal fa-envelope"></i>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact__input-wrapper mb-25">
                                       <h5>Company Name</h5>
                                       <div class="contact__input">
                                          <input type="text" placeholder="Company Name">
                                          <i class="fal fa-smile"></i>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact__input-wrapper mb-25">
                                       <h5>Website</h5>
                                       <div class="contact__input">
                                          <input type="text" placeholder="Website">
                                          <i class="fal fa-globe"></i>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-xxl-12">
                                    <div class="contact__input-wrapper mb-25">
                                       <h5>Message</h5>
                                       <div class="contact__input textarea">
                                          <textarea placeholder="Tell us a bil about your project"></textarea>
                                          <i class="fal fa-comment"></i>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-xxl-12">
                                    <button type="submit" class="m-btn m-btn-4"> <span></span> submit </button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-5 col-xl-5">
                     <div class="contact__map">
                           <iframe src="/static/https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.4800810528923!2d90.36797221544877!3d23.837080434546706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c14a3366b005%3A0x901b07016468944c!2z4Kau4Ka_4Kaw4Kaq4KeB4KawIOCmoeCmvyzgppMs4KaP4KaH4KaaLOCmj-CmuCwg4Kai4Ka-4KaV4Ka-!5e0!3m2!1sbn!2sbd!4v1615723408957!5m2!1sbn!2sbd"></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- contact area end -->

         <!-- contact info area start -->
         <section class="contact__info pt-20 pb-120">
            <div class="contact__info-shape">
               <img src="/static/assets/img/icon/contact/contact-bg.png" alt="">
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-xxl-12">
                     <div class="page__title-wrapper text-center mb-55">
                        <h2 class="page__title-2">We'd love to <br>hear from you</h2>
                        <p>Stay in touch with us</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                     <div class="contact__item text-center white-bg mb-30 transition-3">
                        <div class="contact__icon mb-30 d-flex justify-content-center align-items-center">
                           <img src="/static/assets/img/icon/contact/office.png" alt="">
                        </div>
                        <div class="contact__content">
                           <h4 class="contact__content-title">Austin Texas, 7 Avenue,</h4>
                           <h4 class="contact__content-title">New York, 4223</h4>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                     <div class="contact__item text-center white-bg mb-30 transition-3">
                        <div class="contact__icon mb-30 d-flex justify-content-center align-items-center">
                           <img src="/static/assets/img/icon/contact/mail.png" alt="">
                        </div>
                        <div class="contact__content">
                           <h4 class="contact__content-title"><a href="/static/mailto:support@markit.com">support@markit.com</a></h4>
                           <h4 class="contact__content-title"><a href="/static/mailto:info@markit.com">info@markit.com</a></h4>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                     <div class="contact__item text-center white-bg mb-30 transition-3">
                        <div class="contact__icon mb-30 d-flex justify-content-center align-items-center">
                           <img src="/static/assets/img/icon/contact/phone.png" alt="">
                        </div>
                        <div class="contact__content">
                           <h4 class="contact__content-title"><a href="/static/tel:+(624)-7600-96">+(624) 7600 96</a> </h4>
                           <h4 class="contact__content-title"><a href="/static/tel:+(420)-244-26">+(420) 244 26</a> </h4>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- contact info area end -->

      </main>
      {% endblock %}